<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type=text/css href="../static/style.css">-->
    <link rel="stylesheet" type=text/css href="/style.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h1 th:text="${title}"/>
    <h2>Blog</h2>
<div class="main-blog-content">
    <!-- Sprawdzenie, czy lista postów nie jest pusta -->
    <div th:if="${posts.empty}">
        <p>Brak postów do wyświetlenia.</p>
    </div>
    <div th:each="post : ${posts}">
        <div class="post-preview">
            <h3 class="post-title" th:if="${post != null}" th:text="${post.title}">Tytuł</h3>
            <p class="post-anons" th:if="${post != null}" th:text="${post.anons}">Kategoria</p>
            <p class="post-text" th:if="${post != null}" th:text="${post.full_text}"></p>
            <a class="post-read-btn" th:if="${post != null}" th:href="@{/blog/{id}(id=${post.id})}">Czytaj</a>
<!--            <a class="btn-delete" th:if="${post != null}" th:href="@{/blog/delete/{id}(id=${post.id})}">Usuń</a>-->
            <form th:action="@{/blog/delete/{id}(id=${post.id})}" method="post">
                <button type="submit" class="btn-delete">Usuń </button>
            </form>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>